{{ $currentNode := . }}

{{ range .Site.Menus.new.ByWeight }}

{{ $.Scratch.Set "currentMenuEntry" . }}
<li {{ with .Params.class }} class="{{ . }}" {{ end }} >
    {{ if .HasChildren }}
    <span class="section">{{ .Name | title }}</span>
    <ul>
        {{ range .Children }}
        {{ $.Scratch.Set "currentMenuEntry" . }}
            {{ partial "nav_link" $currentNode }}
        {{ end }}
    </ul>
    {{ else }}
        {{ partial "nv_link_new" $currentNode }}
    {{ end }}
</li>
{{ end }}
